<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<div class="store">
<h1>Лавка</h1>
 <%=Time.now%>
<p>Список товаров</p>

<% @products.each do |product| %>
    <div class='entry'>
      <%= image_tag(product.image_url) %>
      <h3><%= product.title %></h3>
      <%= product.description %>
      <div class="price_line">
        <%= number_to_currency(product.price) %>
        <%= button_to 'Add to Cart', line_items_path( product) %>
      </div>
    </div>
<% end %>
</div>